#header_logo {
  margin-top: 25vh;
}
.contentheader {
  margin-left: 1vw;
  margin-top: 1vh;
  font-size: 2em;

  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}
.contentheader img {
  max-height: 20px;
  border-radius: 50%;
}
input {
  height: 4vh;
  font-size: 2em;
}

input[type="submit"] {
  text-transform:uppercase;
  font-size: 2.1em;
  height: 7vh;
  width: 80vw;
  margin-top: 1vh;
}

.contentmenu button {
  text-transform:uppercase;
  font-size: 2em;
  height: 6vh;
  width: 80vw;
  margin-top: 1vh;
}
.user_list {
  font-size: 2em;
  width: 80vw;
  margin-top: 1vh;
}

.contentmenu button, input[type="submit"] {
  background-image: url('../img/button.png') !important;
  background-repeat: no-repeat;
  background-size: contain;

  background-position: center; /* Center the image */
  background-color: transparent; /* Used if the image is unavailable */
  color: black;
  border: 0px;
}
.contentmenu button:hover, .contentmenu button:active,
input[type="submit"]:hover, input[type="submit"]:active {
  background-image: url('../img/button_active.png') !important;
  background-repeat: no-repeat;
  background-size: contain;
}

textarea {
  width: 80vw;
  height: 6vh;
  margin-top: 2vh;
}

.user_list {
  margin-left: 10vh;
  text-align:left;
}
.user_list img {
  height: 3vh;
  border-radius: 50%;
}
.user_list button {
  height: 5vh;
  border-radius: 50%;
  width: 6vw;
  font-size: 1em;
}
.user_list input[type="checkbox"] {
  height: 4vh;
  width: 4vw;
}

.user_show {
  text-align: left;
  font-size: 1em;
}
.user_name {
  font-size: 3em;
}

.user_show img {
  height: 0.3in;
  border-radius: 50%;
}

.send_picture {
  width: 80vw;
  height: auto;
}

.entry{
  margin-left: auto;
  margin-right: auto;
  max-width: 80vw;

  border-radius: 1%;
  border-style: solid;
  border-width: 0.01in;
  border-color: white;

  padding: 0.05in;
}

#output {
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  height: auto;
}



.app {
    /*
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    */
}